/*Change topmost watermark, I can't share it with this changed, customize it yourself personally*/
.typeWindows-1za-n7>.wordmark-2iDDfm:before {
    content: var(--watermark-override);
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    text-shadow: 0 0 3px #000;
}
.typeWindows-1za-n7>.wordmark-2iDDfm:after {
  display: none;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm > svg {
  display: none;
}
.typeWindows-1za-n7 {
  background-color: var(--bubble-color);
  margin-top: -2px;
  margin-bottom: 3px;
}

  /* make invite to guild list look better */
.submenuPaddingContainer-fiOCHc [aria-activedescendant ^= "user-context-invite-to-server"] {
  max-height: 300px !important;
  overflow-y: scroll;
}

/* I have no idea what this did/does, so imma leave it */
.content-1o0f9g {
  background-color: var(--bubble-color);
  color: white;
}
  /* buttons */
.appMount-3lHmkl .lookOutlined-3sRXeN.colorWhite-rEQuAQ, .appMount-3lHmkl .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  color: #fff;
  background: transparent;
  border-color: transparent;
}