/**
 * @name CrenVision
 * @author Crenshaw#1312 and Clearvison
 * @version 69.420
 * @description Clearvision theme, modded by Crenshaw#1312 to bubbly
 * @source https://github.com/Crenshaw1312/CrensVision
 * @invite Qx2hyttRsU
 */


/* BEFORE USING READ DIS */
/**
*Requirement: BDFDB plugin
* https://betterdiscord.app/plugin/BDFDB
*
*Requirement: Channel Tabs (not really needed, just maeks the server list look not-shit)
* https://betterdiscord.app/plugin/ChannelTabs
*/

/**
* Hewowo :3
* I'm Crenshaw#1312, and I like doing a prowgrwam thingmabaob
* If you wanna join my server for, idk, stuff? => https://discord.com/invite/Qx2hyttRsU
* I do JS, JSX, CSS, I then dabble in vue, python, and html. I'm learning C and C++!
* Uhhhhh idfk what else you'd want, feel dree to DM me, they're always open.
*/

/* required imports */
@import url('https://clearvision.gitlab.io/v6/main.css'); /* what this whole thing is built on...*/
@import url("https://Crenshaw1312.github.io/CrenVision/base.css"); /* the shit you want form me */
@import url('https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css');
@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");
@import url("https://raw.githack.com/Discord-Theme-Addons/statuspicker-plus/master/src/support/StatusPickerPlus.theme.css");

:root {
  /*Main Stuff*/
  --main-color: rgba(17, 8, 61, 0.335);
  --hover-color: rgba(255, 255, 255, 0.337);
  --success-color: #43b581;
  --danger-color: #982929;
  --interactive-active: pink;
  --url-color: rgb(187, 168, 255); 
/*https://media.discordapp.net/attachments/773783597861437471/844710923167989760/187481365_781642939153484_8850979056342055258_n.png*/
  --main-image: url(https://images.wallpaperscraft.com/image/girl_night_art_147234_5000x6637.jpg); /* an image with duller colors looks nice on backdrop */

  /* glasscord */
  --glasscord-win-blur: blurbehind; /* transparent (no blur) | blurbehind (some blur) | acrylic (lots of blur) May need to exit and restart discord */

  /*Bubble Coloration*/
  --bubble-color: var(--main-color); /* a bubble color with the last number being .2 - .5 works best*/
  --headers-base-color: rgb(255, 255, 255);
  --bubble-radius-big: 20px;
  --bubble-radius-small: 10px;

  /*Appearences of main sections */
  --background-image: var(--main-image);
  --background-shading: 20%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 150%;
  --background-contrast: 125%;
  --background-saturation: 150%;
  --background-grayscale: 15%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(12, 0, 83, 0.3);

  --user-popout-image: var(--background-image);
  --user-popout-position: var(--background-position);
  --user-popout-size: var(--background-size);
  --user-popout-repeat: var(--background-repeat);
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 250%; /* the lighter the less you see the user's background, and more the one you set prior (does make the background darker tho for those that don't ahve a usrbg)*/
  --user-popout-contrast: 100%;
  --user-popout-saturation: 200%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 10%;
  --user-popout-blur: 0px;
  --user-popout-avatar-size: 95px;
  --user-popout-avatar-position-x: 32%; /*higher, more to right, suggested: 1-10 */
  --user-popout-avatar-position-y: 5.5% !important;

  --user-modal-image: var(--background-image);
  --user-modal-position: var(--background-position);
  --user-modal-size: var(--background-size);
  --user-modal-repeat: var(--background-repeat);
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%; /* the lighter the less you see the user's background, and more the one you set prior (does make the background darker tho for those that don't ahve a usrbg)*/
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 10%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --user-modal-avatar-position-x: 35%; /*higher, more to right, 1-30 or so */
  --user-modal-avatar-position-y: -6.5vh !important; /* -6.5 vertical, -15.5 horizantal */
  --user-modal-banner-opacity:.5;
  --user-modal-banner-blur:blur(2.6px);

  --backdrop-overlay: none;
  --backdrop-image: var(--main-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: 75%;
  --backdrop-contrast: 75%;
  --backdrop-saturation: 100%;
  --backdrop-invert: 0%;
  --backdrop-grayscale: 5%;
  --backdrop-sepia: 0%;
  --backdrop-blur: 2px;

  /* home icon */
  --home-icon: url(https://clearvision.gitlab.io/icons/discord.svg);
  --home-position: center;
  --home-size: calc(var(--HSL-server-icon-size) * 1.5);
  
  /* Channel Coloring */
  --channel-unread: var(--url-color);
  --channel-color: rgb(255, 255, 255);
  --channel-background-selected: rgba(0, 0, 0, 0.185);
  --channel-text-selected: hotpink;
  --muted-color: rgba(255, 255, 255, 0.349);

  /* Coloring by Status */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  
  /* text */
  --main-font: Architects Daughter;
  --code-font: Consolas;
  --text-normal: rgba(255, 255, 255, .75);
  --text-muted: rgba(128, 128, 128, 0.281);
  --watermark-override: "Hello, Crenshaw";

  /* Chat Bubble Coloring */
  --message-mentioned-color: rgba(105, 15, 83, 0.5);
  --message-personal-color: rgba(89, 0, 255, 0.35);
  --message-other-color: rgba(34, 34, 34, 0.253);
  --message-hover-color: rgba(255, 192, 203, 0.226);
  /* scroll to bottom to see how to add custom ones per user ID if you want to give specific people colors */
  --message-max-width: 400px;
  --chat-username-pill-color-other: var(--message-other-color);
  --chatbar-color: transparent;

  /* Better Discrod Vars */
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);

  /* Custom sizes */
  --channels-width: 200px;
  --members-width: 200px;
  --container: 40px;
  --server-container-padding: 200px;
  --sticker-size: 75px;


  /* Horizantal Server List */
  --HSL-server-icon-size: 27px;
  --HSL-server-spacing: 10px;

  /* raidal status variables */
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px; 
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 35%;
  --rs-online-color: var(--online-color);
  --rs-idle-color: var(--idle-color);
  --rs-dnd-color: var(--dnd-color);
  --rs-offline-color: var(--offline-color);
  --rs-streaming-color: var(--streaming-color);
  --rs-invisible-color: var(--offline-color);
  --rs-phone-visible: block;

  /*Toast coloring*/
  --toast-background: var(--bubble-color) !important;
  --toast-header: var(--toast-background) !important;
  --toast-contents: rgba(0, 0, 0, 0.25) !important;
  --toast-box-shadow: var(--hover-color) !important;
  --toast-border: var(--hover-color) !important;

  /* Channel Tabs */
  --channelTabs-tabWidth: 180px !important;
  --channelTabs-tabHeight: 20px !important;
  --channelTabs-favHeight: 15px !important;
  --channelTabs-favColor: rgba(0, 0, 0, 0.15);
  --channelTabs-selectedColor: rgba(0, 0, 0, .25);
  --channelTabs-iconRadius: var(--rs-avatar-shape); /* 0% = square | 50% = circle */

  /* If you could like leave this alone.. */
  --background-floating: rgba(0, 0, 0, 0);

  /* better status picker, user panel thing, online, offline? ring a bell  yet? */
  --avatar-gap-bg: var(--bubble-color);
	--menu-bg: var(--bubble-color);
	--custom-status-bg: var(--background-secondary-alt);
	--box-shadow-color: transparent;
	--custom-status-hover: transparent;
	--border-radius: var(--bubble-radius-small);
}
.userPopout-xaxa6l {
	--USRBG-banner-height: 120px !important;
}

/* Crenshaw */
[data-author-id="766385575530856458"] .markup-2BOw-j, [data-author-id="766385575530856458"] .username-1A8OIy {
  background-color: rgba(89, 0, 255, 0.35) !important;
}


/* crenshaw (the best one) http://www.barnesandnoble.com/blog/kids/wp-content/uploads/sites/7/2015/09/Crenshaw.jpg */
/* Megumin (vertical) https://media.discordapp.net/attachments/773783597861437471/852470631093108736/image0.jpg */
/* computer https://cdn.discordapp.com/attachments/773783597861437471/824498360228118528/qk0kl7tes9k61.png */
/* man+dog+space https://cdn.discordapp.com/attachments/773783597861437471/824491575001743360/vzi20k54wdn61.png */
/* another planet+dragon+warm-color https://cdn.discordapp.com/attachments/773783597861437471/823882375553089556/cropped-1920-1200-1108903.png */
/* calvin-hobbs https://cdn.discordapp.com/attachments/773783597861437471/821527101378658345/calvin-and-hobbes.jpg */
/* freaky-anime-girl https://cdn.discordapp.com/attachments/773783597861437471/820397523469336626/Dark_Anime_Girl_Wallpaper_Engine.jpg */
/* sunset+palm-trees https://cdn.discordapp.com/attachments/773783597861437471/797519349728280576/81-1366X768-Anime-Wallpapers-on-WallpaperPlay.jpg */
/* astronaunt+space https://cdn.discordapp.com/attachments/773783597861437471/793868628448509982/lost-in-mind-astronaut.jpg */
/* red-code-falling https://bradislit.is-inside.me/YFLa6fDl.gif */
/* chill+bedroom https://cdn.discordapp.com/attachments/773783597861437471/783053767255916564/WVB6tAY.jpg */
/* cool-color+mountain https://cdn.discordapp.com/attachments/773783597861437471/779292358537379901/vaporwave-landscape-mountains-forest-scenery-neon-sci-fi-42469.jpeg */
/* warm/dark+forest https://cdn.discordapp.com/attachments/773783597861437471/774941354203021312/7-78049_small-memory-8k-wallpaper-forest-minimalist-wallpaper-4k.jpg */
/* apocolypse+peaceful+life https://cdn.discordapp.com/attachments/773783597861437471/773785380192780358/anime-apocalypse-ruins-grass-bushes-train-station-scenic-post-apocalyptic-anime-36333.jpeg */
/* astronaunt+jellyfish https://i.imgur.com/SF4XhAi.png */
/* mafia+gun+rain https://cdn.discordapp.com/attachments/456316408465195009/730217389462913145/319103.jpg */
/* Naruto+Clouds https://media.discordapp.net/attachments/766393160896479282/849888138293280778/HGaiF9.jpg */
/* Enderman Dancy Dance https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F5783%2Ff%2F2016%2F363%2F9%2F3%2Fenderman_dance_by_minewarcrafter-datbl8r.gif&f=1&nofb=1 */
/* Rainbo loop stripes https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F84%2F1%2FJMcmXE.gif (VERTICAL: --background-position: -2400px and background-size 350% )*/
/* Couple kissing space/sity https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2696731.jpg */
/* dark moon https://images.unsplash.com/photo-1536183922588-166604504d5e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMHRoZW1lfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80 */
/* FAVORITE girl smoking https://media.discordapp.net/attachments/818899863940366406/854840090647592960/199240187_898359471086367_5947425499359738058_n.png */
/* girl with red umbrella, raining https://i.redd.it/juxq3d00dog11.gif */