/* MEMBER LIST */
.membersWrap-2h-GB4 .members-1998pB {
    background-color: var(--bubble-color) !important;
    border-radius: var(--bubble-radius-big);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 10px;
}