/* search shit*/
#app-mount .searchAnswer-3Dz2-q {
    border-radius: 0 25px 25px 0;
    padding-right: 6px;
    margin-left: -7px;
  }
  /* search menu + the results */
  #app-mount .searchFilter-2ESiM3 {
    border-radius: 25px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .content-yTz4x3 .searchResultsWrap-3-pOjs {
    border-radius: var(--bubble-radius-big);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    background-color: var(--bubble-color);
  }
  .searchResultsWrap-3-pOjs .searchResult-9tQ1uo {
    background-color: transparent !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .tab-2j5AEF {
    background-color: transparent;
  }
  .tab-2j5AEF .selected-2LAck8::after {
    background-color: var(--bubble-color) !important;
  }