/* userpanel setting shiz */
.panels-j1Uci_ {
    background-color: var(--bubble-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--bubble-radius-small);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.container-3baos1:nth-last-child(1) {
    margin-top: 15px;
}

/*Tropical*/
/* Fly in Voice Chat buttons fix */
.container-3baos1 .noWrap-3jynv6 {
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}
.container-3baos1:hover .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
    pointer-events: all;
}

#app-mount #status-picker {
    margin-bottom: 15%;
    max-width: var(--channels-width);
    backdrop-filter: brightness(90%);
}
#app-mount #status-picker .scroller-3BxosC #status-picker-custom-status {
    width: calc(var(--channels-width) - 6px);
    background-color: transparent;
    margin-left: -20px;
}
#app-mount #status-picker .scroller-3BxosC {
    margin-left: -10px;
}