/* partial credits to mr_miner#6969 */

.headerTop-3vNv-a, .rolesList-1geHY1, .headerTextNormal-2mGWX3, .customStatus-oN4ZZY, .aboutMeTitle-1IYtPE{
  display: flex;
  justify-content: center;
  text-align: center;
}
.avatarWrapperNormal-26WQIb{
  position: absolute;
  left: 35%;
}
.profileBadges-ohc0Vu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  transform: translateY(-8px);
  position: absolute;
  transform: translate(-250px);
}
.userPopout-xaxa6l .input-cIJ7To, .aboutMeSection-1Fw5Ia, .bodyTitle-1ySSKn, .textarea-2r0oV8, .marginBottom8-AtZOdT.size14-e6ZScH, .colorStandard-2KCXvj.marginBottom8-AtZOdT{
  text-align: center;
}
.userPopout-xaxa6l .aboutMeBody-3GuvKk {
  overflow-y: scroll;
  width: auto !important;
}
.rolesList-1geHY1 .role-2irmRk.alignCenter-1dQNNs {
  width: 110%;
  padding: 0px;
  justify-content: center;
  border-radius: var(--bubble-radius-big) !important;
}
.role-2irmRk > .roleCircle-3xAZ1j:after{
  border-radius: var(--bubble-radius-big);
}
.roleCircle-3xAZ1j {
  color: #000 !important;
  align-items: center !important;
  -webkit-box-align: center !important;
}

/* make bubbles */
.userPopout-xaxa6l .aboutMeBody-3GuvKk, .userPopout-xaxa6l .rolesList-1geHY1, .userPopout-xaxa6l .activity-2INFPu > div:not(.buttonsWrapper-2spIeK), .userPopout-xaxa6l .marginBottom8-AtZOdT.size14-e6ZScH, .userPopout-xaxa6l .colorStandard-2KCXvj.marginBottom8-AtZOdT{
  background-color: var(--bubble-color) !important;
  backdrop-filter: brightness(150%);
  border-radius: var(--bubble-radius-small);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
  margin-right: 6px;
  padding-bottom: 3px;
  width: auto !important;
}
.userPopout-xaxa6l .base-1x0h_U.muted-3-7c5L, .userPopout-xaxa6l .activity-2INFPu .headerTextNormal-2mGWX3 {
  background-color: var(--bubble-color);
  border-top-left-radius: var(--bubble-radius-small);
  border-top-right-radius: var(--bubble-radius-small);
  margin-bottom: 0px !important;
  margin-right: 6px;
}

.userPopout-xaxa6l .note-1oo11U {
  margin-right: 6px !important;
  margin-left: 0px !important;
  margin-bottom: 10px;
}


@keyframes rainbow-banner {
  0% {background-position: 0 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0 82%}
}

/* progress bar color for spotify */
.barInner-3NDaY_ {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow-banner 12s ease infinite;
}



.userPopout-xaxa6l .avatarHint-2A3RNb {
  display: none;
}
.userPopout-xaxa6l .divider-ewBQKj {
  display: none;
}