/* Aleques */
[data-author-id="389250862347976705"] .markup-2BOw-j, [data-author-id="389250862347976705"] .header-23xsNx{
	background-color: rgba(255, 0, 179, 0.3) !important;
}

/* Another Red/astyx */
[data-author-id="832112307554353152"] .markup-2BOw-j, [data-author-id="832112307554353152"] .header-23xsNx {
  background-color: #0dffc35e !important;
}

/* Devnote */
[data-author-id="622146791659405313"] .markup-2BOw-j, [data-author-id="622146791659405313"] .header-23xsNx {
  background-color: #e67d2259 !important;
}

/* Kira */
[data-author-id="511501021336436749"] .markup-2BOw-j, [data-author-id="511501021336436749"] .header-23xsNx {
  background: linear-gradient(90deg, #e7b17763, #2a292f65) !important;
}

/* Raiden*/
[data-author-id="848041050211614780"] .markup-2BOw-j, [data-author-id="848041050211614780"] .header-23xsNx {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* WickedWizard */
[data-author-id="719421577086894101"] .markup-2BOw-j, [data-author-id="719421577086894101"] .header-23xsNx {
  background-color: rgba(135, 207, 235, 0.418) !important;
}

/* Mayo */
[data-author-id="719421577086894101"] .markup-2BOw-j, [data-author-id="719421577086894101"] .header-23xsNx {
  background-color: rgba(135, 207, 235, 0.418) !important;
}

/* Sponge */
[data-author-id="564071610143866894"] .markup-2BOw-j, [data-author-id="564071610143866894"] .header-23xsNx {
  background-color: rgba(255, 0, 0, 0.418) !important;
}

/* Bulldog */
[data-author-id="325421220529045505"] .markup-2BOw-j, [data-author-id="325421220529045505"] .header-23xsNx {
  background-color: rgba(128, 0, 128, 0.274) !important;
}

/* blox */
[data-author-id="748529326621982732"] .markup-2BOw-j, [data-author-id="748529326621982732"] .header-23xsNx {
  background-color: rgba(173, 216, 230, 0.418) !important;
}

/* creatable */
[data-author-id="192760945766957066"] .markup-2BOw-j, [data-author-id="192760945766957066"] .header-23xsNx {
    background: linear-gradient(90deg, rgba(255, 255, 0, 0.5), rgba(144, 238, 144, 0.5)) !important;
}

/* xTymon */
[data-author-id="778695359987712042"] .markup-2BOw-j, [data-author-id="778695359987712042"] .header-23xsNx {
  background-color: rgba(173, 216, 230, 0.5) !important;
}