/*Change topmost watermark, I can't share it with this changed, customize it yourself personally*/
.typeWindows-1za-n7>.wordmark-2iDDfm:before {
    content: var(--watermark-override);
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    text-shadow: 0 0 3px #000;
}
.typeWindows-1za-n7>.wordmark-2iDDfm:after {
  display: none;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm > svg {
  display: none;
}